{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messagerie.css') }}">
{% endblock %}

{% block body %}
<div class="messagerie-index-container">
    <h2>Messagerie</h2>

    {% if users is not empty %}
        <div class="user-list">
            {% for user in users %}
                <div class="user-card">
                    <div class="user-top-row">
                        <div class="user-info">
                            <img src="{{ asset('images/avatar.png') }}" alt="avatar" class="avatar-small">
                            <span class="user-name">{{ user.nom }}</span>
                        </div>
                        <a href="{{ path('app_messages', {'id': user.id}) }}" class="btn-discuter">
                            <svg class="icon-chat" viewBox="0 0 24 24" fill="currentColor"><path d="M20 2H4C2.897 2 2 2.897 2 4v14l4-4h14c1.103 0 2-0.897 2-2V4c0-1.103-0.897-2-2-2z"/></svg>
                            Discuter
                        </a>
                    </div>

                    {% if lastMessages[user.id] %}
                        <div class="last-message">
                            {{ lastMessages[user.id].contenu|length > 35 ? lastMessages[user.id].contenu|slice(0, 35) ~ '...' : lastMessages[user.id].contenu }}
                            <br>
                            <small>{{ lastMessages[user.id].date|date('H:i d/m') }}</small>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun autre utilisateur disponible pour discuter.</p>
    {% endif %}
    <div class="stars-background">
    {% for i in 0..80 %}
        <div class="star" style="top: {{ random(0,100) }}%; left: {{ random(0,100) }}%; animation-delay: {{ random(0,2000) }}ms;"></div>
    {% endfor %}
    </div>
</div>
{% endblock %}
