<div class="location-box">
    <div class="location-text">
        <h2>{{ location.planete }}</h2>
    </div>
</div>
<div class="location-box">
    <div class="location-image">
        {% for photo in location.photos %}
            <img src="{{ asset(photo) }}" alt="Image"/>
        {% endfor %}
    </div>
</div>
<div class="location-box">
    <div class="location-text">
        <h2>{{ location.titre }}</h2>
        <h3>Hôte : {{ location.user.prenom }} {{ location.user.nom }}</h3>
        <p>{{ location.description }}</p>
        <p>
            {% if location.maxVoyageurs %}
                {{ location.maxVoyageurs }} max voyageurs
            {% else %}
                Max voyageurs non renseigné
            {% endif %}
        </p>
        <p>
            {% if location.cout %}
                {{ location.cout }} par nuit
            {% else %}
                Coût par nuit non renseigné
            {% endif %}
        </p>
    </div>
</div>
