{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/locations.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block title %}Location{% endblock %}

{% block body %}
<div class="location-container">

    <h1 class="location-title">Votre Location</h1>

    {{ include('location/_location.html.twig') }}

    <a href="{{ path('app_location_index') }}">back to list</a>

    <a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>

    {{ include('location/_delete_form.html.twig') }}

</div>

<h1>Reservations de cette location</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Confirm</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in location.reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.confirm ? 'Yes' : 'No' }}</td>
                <td>{{ reservation.debut ? reservation.debut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.fin ? reservation.fin|date('Y-m-d') : '' }}</td>
                <td>
                    {{ reservation.confirm ? '' : "{{ include('reservation/_accept_form.html.twig') }}" }}
                    {{ include('reservation/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
