{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/locations.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block title %}Location{% endblock %}

{% block body %}
<div class="location-container">

    <h1 class="location-title">Votre Location</h1>

    {{ include('location/_location.html.twig') }}

    <a href="{{ path('app_location_index') }}">back to list</a>

    <a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>

    {{ include('location/_delete_form.html.twig') }}

</div>

<div class="location-container">
    <h1 class="location-title">Reservations de cette location</h1>
        <div class="location-box">
        {% for reservation in location.reservations %}
            <p>Réservation de {{ reservation.user.prenom }} {{ reservation.user.nom }}</p>
            <p>Confirmée : {{ reservation.confirm ? 'Oui' : 'Non' }}</p>
            <p>Date de début : {{ reservation.debut ? reservation.debut|date('Y-m-d') : '' }}
                Date de fin : {{ reservation.fin ? reservation.fin|date('Y-m-d') : '' }}</p>
            <p>
                {{ reservation.confirm ? '' : include('reservation/_accept_form.html.twig') }}
                {{ include('reservation/_delete_form.html.twig') }}
            </p>
        {% else %}
            <p>no records found</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
