{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
<div class="registration-container">
    <form method="post" class="registration-form">
        <h1 class="registration-title">Inscription</h1>

        {{ form_errors(registrationForm) }}

        <div class="registration-form-row">
            <div>
                {{ form_label(registrationForm.nom, 'Nom', {'label_attr': {'class': 'registration-label'}}) }}
                {{ form_widget(registrationForm.nom, {'attr': {'class': 'registration-input'}}) }}
            </div>
            <div>
                {{ form_label(registrationForm.prenom, 'Prénom', {'label_attr': {'class': 'registration-label'}}) }}
                {{ form_widget(registrationForm.prenom, {'attr': {'class': 'registration-input'}}) }}
            </div>
        </div>

        <div class="registration-form-row">
            <div>
                {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'registration-label'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'registration-input'}}) }}
            </div>
            <div>
                {{ form_label(registrationForm.numero, 'Numéro de téléphone', {'label_attr': {'class': 'registration-label'}}) }}
                {{ form_widget(registrationForm.numero, {'attr': {'class': 'registration-input'}}) }}
            </div>
        </div>

        <div class="registration-form-row">
            <div>
                {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'registration-label'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'registration-input'}}) }}
            </div>
        </div>

        <div class="registration-form-check">
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'registration-form-check-input'}}) }}
            {{ form_label(registrationForm.agreeTerms, 'Accepter les conditions', {'label_attr': {'class': 'registration-form-check-label'}}) }}
        </div>

        <button type="submit" class="registration-btn">Créer compte</button>

        <div class="registration-login">
            <p>Déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
        </div>

        {{ form_rest(registrationForm) }}
    </form>
</div>
{% endblock %}
