<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AstroLogement{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        <nav class="astro-navbar">
            <a href="{{ path('app_location_index') }}" class="navbar-left link-logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" class="astro-logo">
                <span class="astro-brand">AstroLogement</span>
            </a>

            <div class="navbar-center">
                <a href="{{ path('app_location_index') }}" class="astro-link active">Logements</a>
                <a href="{{ path('app_reservation_index') }}" class="astro-link">Mes expéditions</a>
            </div>

            <div class="navbar-right">
                <div class="astro-box">
                    <div class="hamburger-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <a href="{{ app.user ? path('app_profil') : path('app_login') }}" class="avatar-link">
                        <img src="{{ asset('images/avatar.png') }}" alt="Avatar" class="astro-avatar">
                    </a>
                </div>
            </div>


            </div>
        </nav>

        <main class="content">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
