<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AstroLogement{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <nav class="astro-navbar">
            <a href="{{ path('app_location_index') }}" class="navbar-left link-logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" class="astro-logo">
                <span class="astro-brand">AstroLogement</span>
            </a>

            <div class="navbar-center">

                <div class="navbar-center">
                    <a href="{{ path('app_location_index') }}" class="astro-link {% if app.request.attributes.get('_route') starts with 'app_location' %}active{% endif %}">Logements</a>

                    <a href="{{ path('app_message_home') }}" class="astro-link {% if app.request.attributes.get('_route') starts with 'app_message' %}active{% endif %}">Mes expéditions</a>
                </div>

            </div>

            <div class="navbar-right">
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                
                <label for="menu-toggle" class="astro-box expanded-toggle">
                    <div class="hamburger-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <img src="{{ asset('images/avatar.png') }}" alt="Avatar" class="astro-avatar">
                </label>

                <div class="side-menu">
                    <div class="side-menu-header">
                        <a href="{{ app.user ? path('app_profil') : path('app_login') }}" class="account-link">
                            Your account
                        </a>
                        <a href="{{ app.user ? path('app_profil') : path('app_login') }}">
                            <img src="{{ asset('images/avatar.png') }}" alt="Avatar" class="astro-avatar">
                        </a>
                    </div>

                    <ul class="side-menu-links">
                        <li><i class="icon">🚀</i><a href="{{ path('app_location_index') }}">Mes expéditions</a></li>
                        <li><i class="icon">💬</i><a href="{{ path('app_message_home') }}">Messagerie</a></li>
                        <li><i class="icon">➕</i><a href="#">Ajouter son logement</a></li>
                        <li><i class="icon">⚙️</i><a href="#">Réglages</a></li>
                        <li><i class="icon">🔓</i><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    </ul>

                    <label for="menu-toggle" class="close-btn">✕</label>

                </div>
            </div>



            </div>
        </nav>

        <main class="content">
            {% block body %}{% endblock %}
        </main>
    </head>
    <body>
    </body>
</html>
