{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="login-container">
        <form method="post" class="login-form">
            {% if error %}
                <div class="alert login-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 login-title">Veuillez vous connecter</h1>

            <div class="login-form-row">
                <div class="input-group">
                    <label for="username" class="login-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="login-input" autocomplete="email" required autofocus>
                </div>
                <div class="input-group">
                    <label for="password" class="login-label">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="login-input" autocomplete="current-password" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg login-btn" type="submit">
                Se connecter
            </button>
            <div class="login-register">
                <a href="{{ path('app_register') }}">Pas encore de compte ? Inscrivez-vous ici</a>
            </div>
        </form>
    </div>
{% endblock %}
