{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-container">
        <form method="post" class="login-form">
            {% if error %}
                <div class="alert login-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 login-title">Please sign in</h1>

            <div class="login-form-row">
                <div class="input-group">
                    <label for="username" class="login-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="login-input" autocomplete="email" required autofocus>
                </div>
                <div class="input-group">
                    <label for="password" class="login-label">Password</label>
                    <input type="password" name="_password" id="password" class="login-input" autocomplete="current-password" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg login-btn" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
